@reference "../index.css";
.active-link,
.mobile-active-link {
  @apply bg-indigo-500 shadow-md shadow-indigo-500/50 text-white dark:bg-slate-500 dark:ring-2 dark:ring-white outline-black dark:text-white rounded dark:shadow-2xl dark:shadow-blue-400 px-1;
}
.herotext,
#mainscreen,
#screen {
  will-change: transform, opacity;
}
